# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log*
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

dubbo-admin-server/src/main/resources/public
dubbo-admin-server/target
dubbo-admin-ui/dist
dubbo-admin-ui/node
dubbo-admin-ui/node-modules
