
#header > div {
	

	background: #fe6258 url(../img/wood@2x.png) center center no-repeat;
	z-index: 2;
	text-align: center;
	-webkit-box-shadow: inset 0 -8px 10px -10px #ef1001;
	-moz-box-shadow: inset 0 -8px 10px -10px #ef1001;
	box-shadow: inset 0 -8px 10px -10px #ef1001;
	color: inset 0 -8px 10px -10px #ef1001;
	position: relative;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

	min-height: 180px;
	padding:40px;
	color: #fff;
}

#header a {
	display: inline-block;
vertical-align: middle;
text-align: center;
min-width: 100px;
text-decoration: none;
color: inherit;
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

#header .glyphicon {
	font-size: 2em;
}

#header a.home {
	background: url(../img/logo_03.png) no-repeat 50% 0;
	width: 160px;
	height: 120px;
	background-size: 100% auto; 
}

.why-hilo {
	text-align: center;
}

.why-hilo h2 {
padding: 40px 0;
position: relative;
text-align: center;
margin: 0 0 40px 0;

}
.info {
	margin: 0 20px 20px 20px;
}
.why-hilo h2:before {
height: 1px;
bottom: 0;
-webkit-opacity: .2;
-moz-opacity: .2;
opacity: .2;
}
.why-hilo h2:after {
content: '';
display: block;
height: 5px;
bottom: -4px;
left: 0;
right: 0;
position: absolute;
-webkit-opacity: .15;
-moz-opacity: .15;
opacity: .15;
background-image: -moz-radial-gradient(50% -30%, ellipse farthest-side, #000 0, rgba(0, 0, 0, .5) 60%, rgba(0, 0, 0, 0) 100%);
background-image: -webkit-radial-gradient(50% -30%, ellipse farthest-side, #000 0, rgba(0, 0, 0, .5) 60%, rgba(0, 0, 0, 0) 100%);
background-image: -o-radial-gradient(50% -30%, ellipse farthest-side, #000 0, rgba(0, 0, 0, .5) 60%, rgba(0, 0, 0, 0) 100%);
background-image: radial-gradient(50% -30%, ellipse farthest-side, #000 0, rgba(0, 0, 0, .5) 60%, rgba(0, 0, 0, 0) 100%);
}

.circle {
	display: inline-block;
	text-align: center;
	width: 200px;
	height: 200px;
	-webkit-border-radius:100px;
	-moz-border-radius: 100px;

	color: #fff;
	margin: 0 20px 20px 20px;

	background: rgba(108, 188, 237, 0.8);
}
.circle:hover {
	background: rgba(108, 188, 237, 1);
	text-decoration: none;
}
.circle-wrap {
	padding: 20px 0;
}
.circle .glyphicon {
	font-size: 66px;
	margin-top:35px;
}

.intro-wrap {
background: #3a383e;
color: #827f8c;
padding: 20px 0 40px;
}
.intro-wrap h3 {
font-family: 'Verlag A', 'Verlag B', "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 11px;
letter-spacing: .3em;
font-weight: 900;
text-transform: uppercase;
text-align: center;
display: block;
margin: 40px auto;
position: relative;
padding: 0;
color: #9c9aa4;
width: 100px;
text-shadow: none;
}
.intro-wrap h3 > span {
background: #3a383e;
display: inline-block;
position: relative;
z-index: 1;
padding: 0 20px;
}

.intro-wrap h3 >span >img {
	margin: -8px 0;
}

.intro-wrap h3:before,
.intro-wrap h3:after {
content: '';
display: inline-block;
height: 1px;
background: #504e57;
position: absolute;
}
.intro-wrap h3:before {
top: .3em;
left: -100px;
right: -100px;
}
.intro-wrap h3:after {
bottom: .4em;
left: -70px;
right: -70px;
}

.feature {
	max-width: 500px;
	width: 60%;
	text-align: left;
	margin: 0 auto;
	position: relative;
	margin-bottom: 50px;
}
.feature .glyphicon {
	position: absolute;
	font-size: 60px;
	top: 0;
	left: -90px;
	color: #baa181;
}
#header a:hover .glyphicon{
	font-size: 40px;
}

@media (max-width: 660px){
	#header a.home{
		display: block;
		width: 100%;
		background-size: 160px auto;
		background-position: 50% 50%;
	}

	.feature{
		padding-left: 80px;
		width: 80%;
	}

	.feature .glyphicon{
		left: 0;
	}
}
